<!DOCTYPE html>
<html>
<head>
  <title>Content of folder /75387/core/server/mail/templates/raw</title>
</head>
<body>
<div class="filesList">
<p>Content of this folder:</p>
<ul><li><a href="./invite-user.html">invite-user.html</a></li><li><a href="./reset-password.html">reset-password.html</a></li><li><a href="./test.html">test.html</a></li><li><a href="./welcome.html">welcome.html</a></li></ul>
</div>
<hr>
<footer>powered by <a href="https://github.com/lexoyo/GrrHost-core">GrrHost</a></footer>
</body>
</html>
