
        @font-face {
            font-family: 'aaarghnormal';
            src: url('../assets/Aaargh-webfont.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }
        
        .normal {
            line-height: 1.8;
            font-size: 14px;
            font-family: aaarghnormal, sans-serif;
        }
        /* ************** */
        /* hamburger menu */
        /* ************** */
        
        .silex-runtime.is-not-active .show-when-active>.silex-container-content {
            top: -999px;
            min-height: 0;
        }
        
        .show-when-active {
            min-height: 50px;
        }
        
        .silex-runtime .show-when-active>.silex-container-content {
            transition: 1s all;
        }
        
        div.section-no-content-container {
            position: relative;
            width: 100%;
            top: auto;
            left: auto;
            margin: auto;
        }
        
        button:focus {
            outline: none;
        }
        /* **************** */
        /* show site border */
        /* **************** */
        
        .silex-runtime div.section-no-content-container,
        body.silex-runtime>.editable-style {
            position: relative;
            width: 95%;
            top: auto;
            left: auto;
            margin: auto !important;
            min-width: 1250px;
        }
        
        div.almost-full-width {
            width: 80%;
            right: auto;
            left: auto;
            margin: auto;
            position: relative;
        }
        /* ************** */
    
        .body-initial {
            background-color: rgba(239, 239, 239, 1);
            border-color: #000000;
        }
        
        .silex-id-1493742138253-3 {
            min-width: 1200px;
        }
        
        .silex-id-1493742138252-2 {
            width: 1200px;
            min-height: 144px;
            top: 15px;
            left: 100px;
        }
        
        .silex-id-1493742343238-6 {
            width: 64px;
            min-height: 27px;
            top: 35px;
            left: 1138px;
        }
        
        .silex-id-1493742277896-5 {
            width: 155px;
            min-height: 27px;
            top: 35px;
            left: 916px;
        }
        
        .silex-id-1493742153068-4 {
            width: 155px;
            min-height: 27px;
            top: 35px;
            left: 694px;
        }
        
        .silex-id-1493742391586-9 {
            width: 64px;
            min-height: 27px;
            top: 80px;
            left: 1140px;
        }
        
        .silex-id-1493742391584-8 {
            width: 155px;
            min-height: 27px;
            top: 80px;
            left: 916px;
        }
        
        .silex-id-1493742391582-7 {
            width: 155px;
            min-height: 27px;
            top: 80px;
            left: 694px;
        }
        
        .silex-id-1478366444112-1 {
            top: 100px;
            left: NaNpx;
            background-color: rgba(255, 255, 255, 1);
        }
        
        .silex-id-1478366444112-0 {
            min-height: 100px;
            background-color: transparent;
            width: 1200px;
        }
        
        .silex-id-1493741827609-0 {
            width: 200px;
            min-height: 45px;
            top: 32px;
            left: 0px;
        }
        
        .silex-id-1493747710877-28 {
            width: 69px;
            background-color: rgb(255, 255, 255);
            min-height: 60px;
            top: 23px;
            left: 1131px;
        }
        
        .silex-id-1474394621033-3 {
            top: 140px;
            left: 5px;
            min-width: 1200px;
            background-color: rgba(255, 255, 255, 1);
        }
        
        .silex-id-1474394621032-2 {
            min-height: 372px;
            background-color: transparent;
            width: 1200px;
            top: 15px;
            left: 101px;
        }
        
        .silex-id-1493741895894-1 {
            width: 808px;
            min-height: 209px;
            top: 96px;
            left: 187px;
        }
        
        .silex-id-1493742982236-11 {
            background-color: rgba(255, 255, 255, 1);
            min-width: 1200px;
        }
        
        .silex-id-1493742982235-10 {
            width: 1200px;
            min-height: 85px;
            top: 15px;
            left: 100px;
        }
        
        .silex-id-1493743275678-13 {
            width: 168px;
            min-height: 76px;
            top: 5px;
            left: 0px;
            border-width: 1px 0 0 0;
            border-style: solid;
        }
        
        .silex-id-1493743080863-12 {
            width: 1412px;
            background-color: rgb(255, 255, 255);
            min-height: 518px;
            top: 846px;
            left: 0px;
        }
        
        .silex-id-1493743418647-14 {
            height: 400px;
            width: 2037px;
            background-color: transparent;
            top: 25px;
            left: 71px;
            min-height: 471px;
            border-color: #000000;
        }
        
        .silex-id-1493744587239-21 {
            background-color: rgba(255, 255, 255, 1);
        }
        
        .silex-id-1493744587238-20 {
            min-height: 100px;
            border-width: 1px 1px 1px 1px;
            border-style: solid;
            border-color: #efefef;
        }
        
        .silex-id-1493744659011-22 {
            width: 377px;
            min-height: 58px;
            top: 37px;
            left: 398px;
        }
        
        .silex-id-1493744770521-24 {
            background-color: rgba(255, 255, 255, 1);
            top: 1784px;
            left: 5px;
        }
        
        .silex-id-1493744770521-23 {
            min-height: 825px;
        }
        
        .silex-id-1493744775479-25 {
            width: 219px;
            min-height: 20px;
            top: 164px;
            left: 0px;
            border-width: 1px 0 0 0;
            border-style: solid;
        }
        
        .silex-id-1493744860303-26 {
            width: 788px;
            min-height: 269px;
            top: 168px;
            left: 392px;
        }
        
        .silex-id-1493743970786-16 {
            background-color: rgba(255, 255, 255, 1);
            top: 1683px;
            left: 5px;
        }
        
        .silex-id-1493743970786-15 {
            min-height: 966px;
            border-color: #000000;
        }
        
        .silex-id-1478366450713-3 {
            top: 100px;
            left: NaNpx;
            background-color: rgba(255, 255, 255, 1);
            min-width: 1200px;
        }
        
        .silex-id-1478366450713-2 {
            min-height: 208px;
            background-color: transparent;
            width: 1200px;
            top: 15px;
            left: 101px;
            border-width: 1px 0 0 0;
            border-style: solid;
            border-color: #efefef;
        }
        
        .silex-id-1442914737143-3 {
            min-height: 68px;
            width: 349px;
            top: 123px;
            left: 852px;
        }
        
        .silex-id-1493745058128-27 {
            width: 400px;
            min-height: 69px;
            background-color: transparent;
            top: 137px;
            left: 0px;
        }
    